<div class="container">
  <nav id="menu" class="navbar">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/task1"><strong>TASK 1</strong></a></li>
        <li><a href="/task2"><strong>TASK 2</strong></a></li>
        <li><a href="/task3"><strong>TASK 3</strong></a></li>
      </ul>
    </div>
  </nav>
</div>